

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* MC ADD */
footer {
    position: fixed;
    padding: 12px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
}
















